ConsoleWcFClienteAplication/Service References/HelloWordService/HelloWordlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Prueba.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Prueba.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Prueba.com/Imports">
      <xsd:import schemaLocation="http://localhost:50281/HostExpressServer/HelloWordlService.svc?xsd=xsd0" namespace="http://Prueba.com" />
      <xsd:import schemaLocation="http://localhost:50281/HostExpressServer/HelloWordlService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="JJSo_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="JJSo_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="JJSo_GetPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersona" />
  </wsdl:message>
  <wsdl:message name="JJSo_GetPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="JJSo">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://Prueba.com/JJSo/GetMessage" message="tns:JJSo_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://Prueba.com/JJSo/GetMessageResponse" message="tns:JJSo_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersona">
      <wsdl:input wsaw:Action="http://Prueba.com/JJSo/GetPersona" message="tns:JJSo_GetPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://Prueba.com/JJSo/GetPersonaResponse" message="tns:JJSo_GetPersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>